li[data-id="wikis"] select {
	width: calc(100% - 50px);
}

li[class^="wikiPage-lvl-"] a::before {
	display: inline-block; 
}
.wikiPage-lvl-1>a::before {
	content: "•"; 
	width: 1em;
}
.wikiPage-lvl-2>a::before {
	content: "• •";
	width: 1.5em;
}
.wikiPage-lvl-3>a::before {
	content: "• • •";
	width: 2em;
}

#app {
	width:100%;
}

#app-content #app-content-wrapper {
	display: inline;
}
#app-content-wrapper textarea {
	width:100%;
	height:100%;
}